<a href="https://colab.research.google.com/github/lekhana262/assignment5./blob/master/Assignment_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To open a file using try and exception

In [ ]:
try:
    f = open("abcfile.txt")
except:
     print("Some error came up")

Some error came up

To split the data in a file

In [ ]:
with open("my_file.txt", "r") as my_file:
  for line in my_file:
      str = line.split()
      print(str)

To read the contents of a file using with statement

In [ ]:
L = ["World\n", "India \n", "Banglore\n"] 
with open("myfile.txt", "w") as file1: 
    file1.write("Hello \n") 
    file1.writelines(L) 
    file1.close()  
  
with open("myfile.txt", "r+") as file1: 
    print(file1.read())

Hello
World
India
Banglore

To remove file and directory

In [ ]:
import os
myfile='/tmp/tee.txt'
if os.path.isfile(myfile):
    os.remove(mtfile)
else:
    print('error')

error

To create a list and access the elments in the list

In [ ]:
List = [11, 2, 46, 4, 39, 3, 65] 
print("\nList with the use of Numbers: ") 
print(List)  
List = ["Hello,coffe,python,java"] 
print("\nList with the use of words: ") 
print(List)

List with the use of Numbers:
[11, 2, 46, 4, 39, 3, 65]

List with the use of words:
['Hello,coffe,python,java']